<!-- footer -->
<footer>
    <div class="about">
      <h1><span class="logo-text">A Sea </span> <span>Blog</span></h1>
      <p>
        It’s Social Media Monday. We usually blog about blogging and social media on this day. 
        Blogging has changed the world and the way we communicate.
      </p>
      <!-- Contacts -->
      <div class="contact">
        <span>
          <i class="fas fa-phone"></i>
          + (91) 9084536049
        </span>
        <span>
          <i class="fas fa-envelope"></i>
          
          <a href="mailto:support@inovotek.com">
            vinayakpathak0411@gamil.com
          </a>
        </span>

      </div>
      <!-- socials -->
      <div class="socials">
        <a href="https://www.instagram.com/food__history__/">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.instagram.com/food__history__/">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.instagram.com/food__history__/">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/food__history__/">
          <i class="fab fa-facebook"></i>
        </a>
       
  </footer>